name: CI/CD Pipeline

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY }}

      - name: Install dependencies
        run: npm install
      #- name: Run tests
      #  run: npx jest

      - name: Build, tag and push image
        run: |
          docker build -t app:${{ github.sha }} .
          docker tag app:${{ github.sha }} ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}
          docker push ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: GITHUB_SHA
          script: |
            docker pull ${{ secrets.ECR_REPOSITORY }}:$GITHUB_SHA
            docker stop app || true
            docker rm app || true
            docker run -d -p 80:3000 --name app ${{ secrets.ECR_REPOSITORY }}:$GITHUB_SHA